@use "./mixin.scss" as mixin;
*,
*:before,
*:after {
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.lightMode {
  background-color: #4169e1;
  transition: all 0.7s;
}
.darkMode {
  background-color: black;
  color: white;
  transition: all 0.7s;
}
.bodyColor {
  background-color: #848484;
  transition: all 0.7s;
}
.mobile {
  @include mixin.desktop {
    display: none;
  }
}
.mobile {
  @include mixin.tablet {
    display: none;
  }
}
.desktop {
  @include mixin.mobile {
    display: none;
  }
}
